# Ignore dependencies that are managed with Composer.
vendor/

# Ignore configuration files that may contain sensitive information.
web/sites/*/settings*.php
web/sites/*/services*.yml

# Ignore paths that contain user-generated content.
web/sites/*/files
web/sites/*/private

# Ignore SimpleTest multi-site environment.
web/sites/simpletest

# Scaffolding files
/.editorconfig
/.gitattributes
web/.csslintrc
web/.eslintignore
web/.eslintrc.json
web/.ht.router.php
web/.htaccess
web/INSTALL.txt
web/README.md
web/autoload.php
web/example.gitignore
web/index.php
web/robots.txt
web/update.php
web/web.config
web/modules/README.txt
web/themes/README.txt
web/sites/README.txt
web/sites/development.services.yml
web/sites/example.settings.local.php
web/sites/example.sites.php
web/sites/default/default.services.yml
web/sites/default/default.settings.php
web/themes/README.txt

# Core files
web/core
web/profiles

drush/contrib/
vendor/
web/core/
web/modules/contrib/
web/modules/ndp/
web/themes/contrib/
web/profiles/contrib/
web/libraries/