<header id="mobile-header">
	<a href="/" class="drawer-logo">
		<img class="logo" src="/themes/custom/pop/img/pop-logo-black.svg"/>
	</a>
	<button class="navbar-toggler close-overlay" type="button" onclick="mobileOpenSideDrawer()">
		<span href="#" class="ham"></span>
	</button>
</header>
<div id="mobile-side-drawer-void" class="position-fixed d-none" onclick="mobileCloseSideDrawer()"></div>

<div id="mobile-side-drawer" class="position-fixed">
	<div class="logo-container">
		<a href="/" class="drawer-logo">
			<img class="logo" src="/themes/custom/pop/img/pop-logo-black.svg"/>
		</a>
		<button class="navbar-toggler close-overlay" type="button" onclick="mobileCloseSideDrawer()">
			<span href="#" class="ham"></span>
		</button>
	</div>
	{{ page.mobile_drawer }}
</div>