.page-body {
    background-color: $color-white;
}

.content-area {
    margin: 0;
    * {
        background-color: white;
    }
    .row {
        margin: 0;
        padding: 0;
        .col {
            .region,
            .region-content {}
        }
    }
}