#block-views-block-homepage-fitness-block-row-1-block-1 {
    margin: auto;
    margin-top: 3rem;
    width: 1160px;
    @include breakpoint(mobileonly) {
        margin-top: 0;
        width: 100%;
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    @include breakpoint(tablet) {
        width: 768px;
    }
    @include breakpoint(desktop) {
        width: 1160px;
    }
    h2 {
        font-family: $font-visbycf-heavy;
        font-size: 48px;
        line-height: 1.4;
        @include breakpoint(mobileonly) {
            padding: 0.5em;
            padding-bottom: 2px;
            width: 100%;
            height: 100%;
            font-size: 28px;
            line-height: 1.8;
        }
        @include breakpoint(tablet) {
            width: 768px;
        }
        @include breakpoint(laptop) {
            margin: auto;
            width: 1160px;
            font-size: 48px;
            line-height: 1.4;
        }
        @include breakpoint(desktop) {
            margin: auto;
            width: 1160px;
            font-size: 48px;
            line-height: 1.4;
        }
        text-transform: capitalize;
        color: $color-dark-blue;
        &::after {
            content: "";
            display: block;
            height: 10px;
            background-image: url(/themes/custom/pop/img/new-squiggly.png);
            background-repeat: repeat-x;
            background-size: 150px;
            width: 160px;
            @include breakpoint(mobileonly) {
                height: 20px;
                width: 100px;
                font-size: 14px;
            }
        }
    }
    .view-content {
        display: grid;
        grid-template-columns: 333px 795px;
        @include breakpoint(mobileonly) {
            margin-top: 0;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
        }
        @include breakpoint(tablet) {}
        gap: 32px;
        .views-row:first-child {
            .views-field-field-image {
                img {
                    width: 100%;
                }
            }
            .views-field-field-tags {
                .field-content {
                    a {
                        margin-top: 10px;
                        margin-bottom: 10px;
                        display: block;
                        font-family: $font-visbycf-heavy;
                        font-size: 12px;
                        line-height: 13px;
                        @include breakpoint(mobileonly) {
                            font-size: 10px;
                        }
                        color: $color-primary;
                        text-transform: uppercase;
                    }
                }
            }
            .views-field-title {
                a {
                    font-family: $font-visbycf-heavy;
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 26px;
                    @include breakpoint(mobileonly) {
                        font-size: 15px;
                        line-height: 20px;
                    }
                    color: $color-menu;
                    &:hover {
                        color: $color-icon;
                    }
                }
            }
        }
    }
    .views-row:last-child {
        .views-field-field-image {
            .field-content {
                a {
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        .views-field-field-tags {
            .field-content {
                a {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    display: block;
                    font-family: $font-visbycf-heavy;
                    font-size: 12px;
                    line-height: 13px;
                    @include breakpoint(mobileonly) {
                        font-size: 10px;
                    }
                    color: $color-primary;
                    text-transform: uppercase;
                }
            }
        }
        .views-field-title {
            a {
                font-family: $font-visbycf-heavy;
                font-size: 20px;
                font-weight: bold;
                line-height: 26px;
                @include breakpoint(mobileonly) {
                    font-size: 15px;
                    line-height: 20px;
                }
                color: $color-menu;
                &:hover {
                    color: $color-icon;
                }
            }
        }
    }
}

#block-views-block-homepage-fitness-block-row-2-block-1 {
    margin: auto;
    margin-top: 3rem;
    width: 1160px;
    @include breakpoint(mobileonly) {
        margin-top: 0;
        width: 100%;
    }
    @include breakpoint(tablet) {
        margin-top: 0;
        width: 90%;
    }
    @include breakpoint(desktop) {
        margin-top: 0;
        width: 1160px;
    }
    .content {
        .view-id-homepage_fitness_block_row_2 {
            .view-content {
                .item-list {
                    ul {
                        display: flex;
                        margin: 1rem 0;
                        justify-content: space-evenly;
                        @include breakpoint(laptop) {
                            justify-content: space-between;
                        }
                        flex-wrap: wrap;
                        li {
                            width: calc(25% - 1rem);
                            @include breakpoint(mobileonly) {
                                padding: 0;
                                width: 45%;
                            }
                            overflow: hidden;
                            .views-field.views-field-field-image {
                                .field-content {
                                    a {
                                        img {
                                            width: 274px;
                                            height: 274px;
                                            @include breakpoint(mobileonly) {
                                                width: 100%;
                                                height: 100%;
                                            }
                                            @include breakpoint(tablet) {
                                                height: 225px;
                                                object-fit: cover;
                                            }
                                            @include breakpoint(desktop) {
                                                width: 274px;
                                                height: 274px;
                                            }
                                        }
                                    }
                                }
                            }
                            .views-field-field-tags {
                                .field-content {
                                    a {
                                        margin-top: 10px;
                                        margin-bottom: 10px;
                                        display: block;
                                        font-family: $font-visbycf-heavy;
                                        font-size: 12px;
                                        line-height: 13px;
                                        @include breakpoint(mobileonly) {
                                            font-size: 10px;
                                        }
                                        color: $color-primary;
                                        text-transform: uppercase;
                                    }
                                }
                            }
                            .views-field.views-field-field-tags {
                                .field-content {
                                    .item-list {
                                        ol {
                                            margin-top: 10px;
                                            margin-bottom: 10px;
                                            @include breakpoint(mobileonly) {
                                                margin-top: 3px;
                                                margin-bottom: 3px;
                                            }
                                            li {
                                                display: none;
                                                width: 100%;
                                                &:first-child {
                                                    display: block;
                                                    a {
                                                        display: block;
                                                        font-family: $font-visbycf-heavy;
                                                        font-size: 12px;
                                                        line-height: 13px;
                                                        @include breakpoint(mobileonly) {
                                                            font-size: 10px;
                                                        }
                                                        color: $color-primary;
                                                        text-transform: uppercase;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .views-field.views-field-title {
                                @include breakpoint(mobileonly) {
                                    margin-bottom: 30px;
                                }
                                .field-content {
                                    a {
                                        font-family: $font-visbycf-heavy;
                                        font-size: 20px;
                                        font-weight: bold;
                                        line-height: 26px;
                                        @include breakpoint(mobileonly) {
                                            font-size: 15px;
                                            line-height: 20px;
                                        }
                                        color: $color-menu;
                                        &:hover {
                                            color: $color-icon;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}