#block-views-block-homepage-must-read-block-1 {
    margin: auto;
    margin-top: 3rem;
    width: 1160px;
    @include breakpoint(mobileonly) {
        margin-top: 0;
        width: 100%;
        height: 100%;
    }
    h2 {
        font-family: "Visby CF";
        font-weight: 900;
        font-size: 48px;
        line-height: 1.16;
        text-transform: capitalize;
        margin: 0;
        margin-bottom: 1rem;
        color: $color-dark-blue;
        width: fit-content;
        min-height: 46px;
        display: inline-block;
        &::after {
            height: 10px;
            background-image: url(/themes/custom/pop/img/new-squiggly.png);
            width: 100%;
            background-size: 150px;
            margin-bottom: 12px;
            background-repeat: repeat-x;
        }
    }
    .view-content {
        .views-row {
            display: grid;
            grid-template-columns: 765px 395px;
            grid-template-rows: 1fr 0.2fr 1fr;
            grid-auto-rows: 2px;
            gap: 0;
            @include breakpoint(mobileonly) {
                display: flex;
                flex-direction: column;
            }
            .views-field {
                position: relative;
                color: #f0f0f3;
                background-color: $color-whitesmoke;
            }
            .views-field:nth-child(1) {
                grid-row-start: 1;
                grid-row-end: 4;
                .field-content {
                    a {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            .views-field:nth-child(2) a {
                position: absolute;
                bottom: 10px;
                @include breakpoint(mobileonly) {
                    bottom: 0;
                    padding-top: 10px;
                }
                left: 0;
                display: block;
                text-align: center;
                font-family: $font-visbycf-heavy;
                font-size: 12px;
                line-height: 13px;
                color: $color-primary;
                text-transform: uppercase;
                width: 100%;
                background-color: $color-whitesmoke;
            }
            .views-field:nth-child(3) a {
                display: block;
                padding-left: 25px;
                padding-right: 25px;
                text-align: center;
                background-color: $color-whitesmoke;
                font-family: $font-visbycf-heavy;
                font-size: 20px;
                font-weight: bold;
                line-height: 26px;
                color: $color-menu;
                &:hover {
                    color: $color-icon;
                }
            }
            .views-field:nth-child(4) a {
                position: absolute;
                display: block;
                padding: 20px;
                padding-top: 10px;
                @include breakpoint(mobileonly) {
                    padding-top: 10px;
                }
                text-align: center;
                font-family: $font-regular;
                font-size: 11px;
                text-transform: uppercase;
                color: $color-menu;
                width: 100%;
                background-color: $color-whitesmoke;
                &::before {
                    content: "By ";
                }
            }
        }
    }
    .content {
        .view-id-homepage_featured {
            .view-content {
                .item-list {
                    ul {
                        display: flex;
                        margin: 1rem 0;
                        justify-content: space-evenly;
                        // @include breakpoint(laptop) {
                        //     justify-content: space-between;
                        // }
                        flex-wrap: wrap;
                        li {
                            width: calc(25% - 1rem);
                            // @include breakpoint(mobileonly) {
                            //     padding: 0;
                            //     width: 45%;
                            // }
                            overflow: hidden;
                            .views-field.views-field-field-image {
                                .field-content {
                                    a {
                                        img {
                                            width: 274px;
                                            height: 274px;
                                            @include breakpoint(mobileonly) {
                                                width: 100%;
                                                height: 100%;
                                            }
                                            @include breakpoint(tablet) {
                                                height: 225px;
                                                object-fit: cover;
                                            }
                                            @include breakpoint(desktop) {
                                                width: 274px;
                                                height: 274px;
                                            }
                                        }
                                    }
                                }
                            }
                            .views-field.views-field-field-tags {
                                .field-content {
                                    .item-list {
                                        ol {
                                            margin-top: 10px;
                                            margin-bottom: 10px;
                                            // @include breakpoint(mobileonly) {
                                            //     margin-top: 3px;
                                            //     margin-bottom: 3px;
                                            // }
                                            li {
                                                display: none;
                                                width: 100%;
                                                &:first-child {
                                                    display: block;
                                                    a {
                                                        display: block;
                                                        font-family: $font-visbycf-heavy;
                                                        font-size: 12px;
                                                        line-height: 13px;
                                                        // @include breakpoint(mobileonly) {
                                                        //     font-size: 10px;
                                                        // }
                                                        color: $color-primary;
                                                        text-transform: uppercase;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .views-field.views-field-title {
                                @include breakpoint(mobileonly) {
                                    margin-bottom: 30px;
                                }
                                .field-content {
                                    a {
                                        font-family: $font-visbycf-heavy;
                                        font-size: 20px;
                                        font-weight: bold;
                                        line-height: 26px;
                                        // @include breakpoint(mobileonly) {
                                        //     font-size: 15px;
                                        //     line-height: 20px;
                                        // }
                                        color: $color-menu;
                                        &:hover {
                                            color: $color-icon;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
