#block-globalnavigation-drawer {
    .region-drawer {
        animation-name: dia-left-to-right;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
}

.navbar-togglers {
    width: 30px;
    border: none;
    background: none;
    // background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-ham {
    // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    // background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.drawer-hamburger-icon {
    // background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#side-drawer {
    height: 100vh;
    width: 318px;
    opacity: 1;
    left: 0;
    width: 320px;
    /* Reference: https://forums.envato.com/t/standard-sidebar-width/75633 */
    z-index: 1032;
    /* z-index of standard bootstrap navbar is 1030 + 1 offset due to side-drawer-void */
    top: 0;
    left: -320px;
    padding: 0;
    // transition: left 0.25s ease;
    overflow: scroll;
    overflow-x: hidden;
    background-color: white;
    z-index: 147483648;
    transition: all, .3s, ease;
    padding: 10px 0 0;
    overflow-y: auto;
    .logo-container {
        position: relative;
        padding-top: 2px;
        .drawer-logo {
            // margin: 0;
            margin-top: 5px;
            // padding: 0px;
            // padding-left: 20px;
            // display: inline-block;
            padding: 0 30px 15px;
            display: block;
            border: none;
            img {
                display: inline-block;
                height: 16px;
                width: 192px;
                vertical-align: middle;
                width: 192px;
            }
        }
        .close-overlay {
            position: absolute;
            top: 0;
            right: 14px;
            font-size: 13px;
            cursor: pointer;
            .close-icon {
                position: absolute;
                top: 10px;
                right: 15.8px;
                font-size: 13px;
                cursor: pointer;
                width: 13px;
                height: 13px;
                font-family: "fontello+cancel";
                background-color: $color-gray;
                &:before {
                    content: '\e800';
                }
                &:hover {
                    background-color: $color-icon;
                }
            }
        }
    }
    .list-group {}
    .region {
        margin: 0;
        padding: 0;
    }
    .region-drawer {
        transform: matrix(1, 0, 0, 1, 0, 0);
        transform-origin: 0 50% 0;
        transition-delay: 0.51s;
        transition: transform .3s ease;
        margin: 0;
        margin-top: 0;
        padding: 0;
        background-color: white;
        /* Accordion */
        .menu--global-navigation {
            margin-top: 10px;
            .content {
                margin: 0;
                padding: 0;
                .c-menu-global-navigation {
                    // padding: 0;
                    display: block;
                    list-style-type: none;
                    margin: 0;
                    padding: 0 30px;
                    .c-menu-global-navigation__item {
                        padding: 0;
                        position: relative;
                        display: list-item;
                        text-align: -webkit-match-parent;
                        list-style-type: none;
                        // width: 245px;
                        a {
                            &:first-child {
                                display: block;
                                padding: 4.5px;
                                padding-bottom: 0px;
                                padding-left: 0;
                                color: $color-primary;
                                line-height: 47px;
                                // line-height: 1.4;
                                font-family: $font-texta-heavy;
                                font-size: 15px;
                                text-transform: uppercase;
                                letter-spacing: 1px;
                                // font-weight: bold;
                                transition: all .3s ease;
                                &:hover {
                                    color: $color-tertiary-tr;
                                }
                            }
                            &:nth-child(2) {
                                color: #acb7c8;
                                position: absolute;
                                right: 0;
                                top: 0;
                                padding: 7px;
                                padding-right: 0;
                                // line-height: 1.4;
                                line-height: 47px;
                                cursor: pointer;
                                font-family: "fontello+three+dots";
                                font-size: 18px;
                                color: silver;
                                &:before {
                                    content: '\e800';
                                }
                                &:hover {
                                    color: $color-icon;
                                }
                            }
                        }
                        .c-menu-global-navigation__submenu {
                            padding: 0;
                            .c-menu-global-navigation__item {
                                padding-left: 0;
                                a {
                                    padding: 0;
                                    color: $color-text;
                                    font-size: 15px;
                                    line-height: 30px;
                                    text-transform: none;
                                    font-weight: normal;
                                    font-family: $font-texta;
                                    text-transform: capitalize;
                                    text-decoration: none !important;
                                    cursor: pointer;
                                    transition: all .3s ease;
                                    &:hover {
                                        color: $color-tertiary-tr;
                                    }
                                }
                            }
                        }
                        // a {
                        //     color: #0e52ff;
                        //     text-transform: uppercase;
                        //     text-decoration: none !important;
                        // }
                        // ul {
                        //     padding: 0;
                        //     list-style-type: none;
                        //     li {
                        //         padding: 0;
                        //         padding-top: 10px;
                        //         padding-bottom: 10px;
                        //         a {
                        //             display: block;
                        //             text-decoration: none !important;
                        //             text-transform: capitalize;
                        //             color: #222;
                        //             &:hover {
                        //                 text-decoration: none !important;
                        //                 color: #0e52ff;
                        //             }
                        //         }
                        //     }
                        // }
                        .accordion-title {
                            margin: 0;
                            position: absolute;
                            right: 0;
                            // padding: 0.625em 0.625em 0.625em 2em;
                            background-color: transparent;
                            // font-size: 1.25em;
                            font-weight: normal;
                            color: gray;
                            cursor: pointer;
                        }
                    }
                }
                .accordion-content {
                    // padding-left: 2.3125em;
                    // border: 1px solid #0079c1;
                }
                /* CSS for Demo */
                .c-menu-global-navigation__item {
                    max-width: 600px;
                    margin: 0 auto;
                }
                #block-globalnavigation-drawer {
                    // background-color: darkred;
                }
            }
        }
        // Meta menu in drawer navigation
        .menu--meta-menu {
            padding: 10px 30px;
            background: $color-whitesmoke;
            .c-menu-meta-menu__item {
                a {
                    display: block;
                    font-family: $font-texta;
                    font-size: 14px;
                    border-bottom: 1px solid transparent;
                    line-height: 36px;
                    color: #2f3846;
                    &:hover {
                        color: $color-icon;
                    }
                }
            }
        }
    }
    .footer-credits {
        padding: 25px;
        padding-top: 0px;
        font-size: 13px;
        small {
            font-size: small;
        }
    }
}

#side-drawer-void,
#mobile-side-drawer-void {
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1031;
    background: rgba(0, 0, 0, .6);
}

// Mobile
#mobile-header {
    padding: 5px;
    background-color: darkred;
    a.drawer-logo {
        margin-top: 5px;
        padding: 10px;
        padding-left: 8px;
        .logo {
            width: 200px;
            height: 15px;
        }
    }
    .navbar-toggler {
        top: 0;
        right: 0;
        margin: 10px;
        outline: none;
        border: none;
        box-shadow: none;
        &:active,
        &:hover {
            outline: none;
            border: none;
            box-shadow: none;
        }
        .ham {
            width: 100px;
            height: 13px;
            font-family: 'fontello+hamburger';
            color: $color-menu;
            &:before {
                content: '\e800';
            }
        }
    }
}

#mobile-side-drawer {
    height: 100vh;
    width: 318px;
    opacity: 1;
    width: 320px;
    top: 0;
    right: -320px;
    width: 320px;
    background: darkorchid;
    transition: ease 0.3s all;
    .logo-container {
        .drawer-logo {
            img {
                width: 200px;
                height: 15px;
            }
        }
    }
    .navbar-toggler {
        width: 100px;
        height: 13px;
        outline: none;
        font-family: 'fontello+hamburger';
        color: $color-menu;
        outline: none;
        border: none;
        box-shadow: none;
        &:active,
        &:hover {
            outline: none;
            border: none;
            box-shadow: none;
        }
        &:before {
            content: '\e800';
        }
    }
}