// Fonts
$font-texta: 'Texta';
$font-bold: 'Texta Bold';
$font-texta-heavy: 'Texta Heavy';
$font-regular: 'Texta Regular';
// Font sizes
$font-size: 16px;
$font-size-large: 3rem;
$font-size-medium: 2rem;
$font-size-small: 14px;
// Colors
$color-primary: #002fa7;
$color-secondary: #314570;
$color-tertiary: #002fa7;
$color-tertiary-tr: #002fa7c0;
$color-texta: #0e52ff;
$color-icon: #24c4f8;
$color-pink-popsugar: #ee0066;
// $color-secondary: #7584ad;
$color-text: #2f3846;
$color-sky: #aed1d6;
$color-green: #00A300;
$color-blue: #0000FF;
$color-blue-green: #21B6A8;
// $color-secondary: #2F323A;
$color-white: #ffffff;
$color-accent: #F4FEC1;
$color-jetblack: #0a0a0a;
$color-blakish: #2e2e2e;
$color-menu: #2f3846;
$color-gray: gray;
$color-silver: silver;
$color-red-border: rgba(220, 20, 60, 0.144);
$color-maroon: #af4261;
$color-yellowish: #f3ec78;
$color-whitesmoke: whitesmoke;
$color-lavender: lavender;
$color-beige: beige;
$color-bisque: bisque;
$transparent: rgba(245, 245, 245, 0.432);
// Breakpoints
$mobile: 576px;
$tablet: 768px;